@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-miao-bg text-miao-text font-sans antialiased;
  }
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #121212; 
}

::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444; 
}